body {
    background-color: cornsilk;
}
#mainHeader {
    text-align: center;
}

* {
  box-sizing: border-box
}

#content {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.centerdata {
  margin: auto;
  width: 50%;
  border: 3px green;
  padding: 10px;
}